[user]
    name = Joao Santos
    email = joao@schireson.com
[color]
    ui = true
    status = auto
[core]
    editor = vim
[push]
    default = simple
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
    algorithm = patience
[alias]
    gl = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    sl = log --pretty=format:'%C(yellow)%h%Creset - %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    l = log --pretty=tformat:\"%n%C(auto,yellow)%h%C(auto)%d%C(auto,reset) by %C(auto,blue)%cn%C(auto,reset), %C(auto,cyan)%ar%C(auto,reset)%n   %s\" --stat 
    stat = log --stat --date=local
    s = status --short
    dt = difftool --no-prompt
    dts = difftool --no-prompt --staged
