[user]
    name = Joao Santos
    #email = 
[color]
    ui = auto
    status = auto
[core]
    editor = vim
    autocrlf = input
[push]
    default = simple
[pull]
    rebase = preserve
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
    algorithm = patience
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[difftool "bc4"]
    path = 'C:/Program Files/Beyond Compare 4/BComp.exe'
    cmd = 'C:/Program Files/Beyond Compare 4/BComp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "bc4"]
    path = 'C:/Program Files/Beyond Compare 4/BComp.exe'
    cmd = 'C:/Program Files/Beyond Compare 4/BComp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[alias]
    # Short graph log
    gl = log --graph --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d%Creset' --decorate --date=short
    gla = log --graph --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d%Creset' --decorate --date=short --all
    # Short one line log
    sl = log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d%Creset' --decorate --date=short
    # Stat log with files modified
    l = log --pretty=tformat:\"%n%C(yellow)%h by %Cgreen%cn %Cblue%ar   %Cred%d%Creset%n   %s\" --stat
    stat = log --stat --date=local
    # List all commits where a file was changed
    lf = "!f() { git log --pretty=format:'%h' --follow $1 | xargs git show --pretty=tformat:\"%n%C(yellow)%h by %Cgreen%cn %Cblue%ar   %Cred%d%Creset%n   %s\" --stat; }; f"

    b = branch -a
    s = status --short
    st = status
    d = diff --stat
    dd = diff -p --stat
    ds = diff -p --staged
    dt = difftool --no-prompt
    dts = difftool --no-prompt --staged

    # List ignored files
    ign = ls-files -o -i --exclude-standard

    # List all git tags ordered by date
    tags = tag --sort=-creatordate --format='%(creatordate:short)  %(refname:strip=2)'
    logtags = log --date-order --tags --simplify-by-decoration --pretty=format:'%C(yellow)%h  %Cblue%cd  %Creset%d' --date=format-local:"%Y-%m-%d"

    # Uncommit previous local `git commit`
    uncommit = reset HEAD~1 --mixed

    # Find commits by source code
    fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d%Creset' --decorate --date=short -S$1; }; f"
    # Find commits by commit message
    fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d%Creset' --decorate --date=short --grep=$1; }; f"
